---
# Landing: The welcome site for the Distribute Aid software service.
# Copyright (C) 2018 - J. Taylor Fairbank (taylor@distributeaid.org)
#
# Licensed under the AGPLv3. See `/LICENSE.md` and `/LICENSES-3RD-PARTy.md`.

title: "Home"
date: 2018-05-10T14:24:31+01:00
lastmod: 2018-05-10T14:24:31+01:00
---

<!-- Intro
============================================================================ -->
<section id="intro" class="intro section section--image-bg section--full-screen">
  <div class="section__content section__content--small section__content--middle">
    <h1 class="section__header brand">distribute|AID</h1>

    <p>
      A mutual aid marketplace for refugee support groups in Europe.  Our goal is to streamline the donation supply chain by building an online platform centered around the operations of these groups: <strong>collecting</strong> and processing donations, <strong>transporting</strong> them throughout the continent, and <strong>distributing</strong> them where they are needed the most.
    </p>

    <p>
      If you are involved with a refugee support group we would love to hear from you!  Shoot us an email at <a href="mailto:hello@distributeaid.org">hello@distributeaid.org</a> to start the conversation and get early access to our platform.
    </p>
  </div>

  <a class="intro__prompt" href="#who-we-help">
    <i class="far fa-arrow-alt-circle-down"></i>
  </a>
</section>


<!-- Who We Help
============================================================================
TODO: Use Kube's media grid to setup content boxes.
-->
<section id="who-we-help" class="who-we-help section">
  <header class="section__header">
    <h2 class="section__title">Who We Help</h2>
    <p class="section__subtitle">(in practice these categories will overlap)</p>
  </header>

  <div class="section__content">
    <div class="category">
      <div>
        <h3 class="category__title">
          <i class="category__icon fas fa-hand-holding-heart fa-3x"></i>
          Collectors
        </h3>
        <p>
          Collection groups  run donation and fundraising drives, sort and package donations, and store them until a shipment is ready to be loaded up.  They are typically the ones to reach out to the other types of groups to make the shipment happen.
        </p>
      </div>

      <div>
        <h3 class="category__title">
          <i class="category__icon fas fa-shipping-fast fa-3x"></i>
          Transporters
        </h3>
        <p>
          Transport groups arrange everything needed for the shipment itself, such as planning the route and dealing with the legal paperwork for customs.  Sometimes they take the goods from A to B themselves; other times they work with a commercial shipping agency.
        </p>
      </div>

      <div>
        <h3 class="category__title">
          <!-- TODO: try fa-parachute-box -->
          <i class="category__icon fas fa-hands-helping fa-3x"></i>
          Distributors
        </h3>
        <p>
          Distribution groups get the donations into the hands of the people who need them the most.  Often times they are the ones planning ahead and putting the call out for what will be needed: you can't begin collecting winter coats when it's already snowing.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- How It Works
============================================================================ -->
<section id="how-it-works" class="how-it-works section section--image-bg">
  <div class="section__content section__content--medium">
    <header class="section__header">
      <h2 class="section__title">How It Works</h2>
      <p class="section__subtitle">(we're still building, but this will all be in version 1.0)</p>
    </header>

    <ol class="how-it-works__steps">
      <li class="how-it-works__step">
        <h3 class="how-it-works__title">1) Tell Us About Your Group</h3>
        <p>
          During the signup process, we'll ask for some basic information about your organization and what you do.  For example, we use the city and country information you provide to highlight your group on the map, allowing other people to find and connect with you.  We'll also show the (optional) contact information you provide so they can get in touch.
        </p>
      </li>

      <li class="how-it-works__step">
        <h3 class="how-it-works__title">2) List Resources / Needs</h3>
        <p>
          We've found that many grassroots organizations have access to some, but not all, of the resources needed to get donations through the supply chain.  This makes it possible to connect groups and match their resources to get a shipment out.  For example, a Collection group can easily find a Distribution group that needs the donations they have gathered, and then both groups can reach out to a Transport group to move the goods.  Additionally, smaller groups could hold supporting activities like fundraisers or sorting drives to pitch in on the cost and effort of an upcoming shipment.
        </p>
        <p>
          The app also makes it easy to update those resources and needs over time.  Collection groups can showcase the exact levels of donations they have at any given moment, and exclude donations that have already been planned for a shipment.  Distribution groups can keep up with the changing situation on the ground.
        </p>
      </li>

      <li class="how-it-works__step">
        <h3 class="how-it-works__title">3) See Your Impact</h3>
        <p>
          When you use the app to organize a shipment of donations, we'll track the end-to-end process.  This keeps every group involved on the same page.  Once the shipment reaches it's final destination, the Distribution group can mark it as complete and note how they put the donations to good use.
        </p>
      </li>

      <li class="how-it-works__step">
        <h3 class="how-it-works__title">4) Build Momentum</h3>
        <p>
          Every shipment you are involved in will be added to your group's historical record.  This is a great way to keep track of all the good you've done and build momentum for the future.  The relationships between your group and others that you work with will strengthen through continued collaboration.  An added bonus is that your record of success will help increase trust when new groups are working with you for the first time.
        </p>
      </li>

      <li class="how-it-works__step">
        <h3 class="how-it-works__title">5) Privacy Minded</h3>
        <p>
          To preserve your privacy, only the basic information about your organization and what you do will be publicly visible.  Most of the other information we collect as you use the app will be available to other groups on the platform, but we do plan to build in privacy controls so that you can fine tune what information is shared.  We won't ever give your information to third parties.
        </p>
      </li>

    </ol>
  </div>
</section>


<!-- Benefits
============================================================================
TODO: Try cropping the photos and placing all the content boxes in the middle.
      Alternatively, do floor-to-ceiling content boxes on the left w/ a small
      offset and crop / flip the images as needed to put the subject on the right.
-->
<section>

  <div id="benefits" class="benefit benefit--discover section section--image-bg">
    <div class="section__content section__content--small section__content--left">
      <h2 class="section__header">
        Discover &amp; Connect
      </h2>

      <p>
        Aid distributors working with refugees on the ground can share an up to date list of needed donations as conditions change over time.  The app helps collection groups discover these distributors, and matches them to the destination where their donations are needed the most.  It also connects local collection centers allows them to combine resources, so shipments can be sent more frequently and filled with a larger variety of needed donations.
      </p>
    </div>
  </div>

  <!-- TODO: change the background image now that it's become the main intro image -->
  <div class="benefit benefit--streamline section section--image-bg">
    <div class="section__content section__content--small">
      <h2 class="section__header">
        Streamline the Supply Chain
      </h2>

      <p>
        Collaboration features make it easy to include a group that brings key resources to the table.  For example: a collection group and a distribution group might lack the ability to transport the goods or pay for commercial shipping.  They could search for a transport group that can deliver the shipment, or another collection group that has funds on hand to pay for commercial shipping.  Similarly, many collection groups lack appropriate storage space for higher volumes of donations.  The app can connect these groups to a local collection group with access to a warehouse that's willing to act as a hub for their donations.
      </p>
      <p>
        The app can help manage complex route planning, which allows donations to be picked up from or dropped off at multiple points along the journey.
      </p>
    </div>
  </div>

  <div class="benefit benefit--trust section section--image-bg">
    <div class="section__content section__content--small section__content--right">
      <h2 class="section__header">
        Increase Trust
      </h2>

      <p>
        Groups that work together can vouch for each other to build up trust on the platform.  Seeing a history of successful collaborations boosts confidence when groups work together for the first time.  This also helps minimize the risk of fraud.
      </p>
    </div>
  </div>

  <div class="benefit benefit--transparency section section--image-bg">
    <div class="section__content section__content--small section__content--left">
      <h2 class="section__header">
        Promote Transparency
      </h2>

      <p>
        It’s easy for all groups involved in a shipment to see what their role is and what their responsibilities are.  Groups can make better decisions together, such as how to split the costs of a shipment.
      </p>
      <p>
        Transparency also makes it more exciting for volunteers since they can see the end-to-end process and the results of all their hard work.
      </p>
    </div>
  </div>

  <div class="benefit benefit--knowledge section section--image-bg">
    <div class="section__content section__content--small section__content--right">
      <h2 class="section__header">
        Share Knowledge
      </h2>

      <p>
        Good initiatives can be shared among groups on the platform, spreading helpful ideas faster.  Over time, the best processes will get baked into the platform so they are even easier for groups to implement.
      </p>
      <p>
        Documentation can be shared between groups or even built collaboratively.  For example, transport groups can document the legal requirements for sending a shipment through Europe.  Having an up-to-date checklist ensures that shipments don’t get stuck at customs.
      </p>
    </div>
  </div>

</section>


<!-- About Us
============================================================================ -->
<section id="about-us" class="about-us section">
  <header class="section__header">
    <h2 class="section__title">About Us</h2>
    <p class="section__subtitle">(get in touch: <a href="mailto:hello@distributeaid.org">hello@distributeaid.org</a>)</p>
  </header>

  <div class="section__content section__content--medium">
    <p>
      Earlier this year we began working with a mid-sized grassroots refugee aid group in Scotland.  It was amazing to discover the impact that 15 people and a warehouse could have.  They collect donations, process and sort them, and arrange shipments to refugee camps across Europe and the Middle East.
    </p>

    <p>
      Through our work there we identified a need for tools to help make the donation cycle easier.  Though we are relatively new to refugee aid work in Europe, our experience so far has shown us that other groups have the same sorts of problems that we are trying to solve.  We hope that we can make something that is widely useful; we don't have all the answers but we are looking forward to working with and learning from a wide variety of aid groups.  Ultimately, the goal is to get the most aid out there as quickly as possible, and to do so in manner that increases our understanding of the needs of refugees so we can better support them.
    </p>

    <div class="category">
      <div>
        <h3 class="category__title">
          <img class="category__photo" src="profile-sara.jpg" alt="A photo of Sara." />
          Sara Lönegård
        </h3>
        <p>
          I'm an aspiring human rights activist with a background in international relations and Middle East studies.  I'm in charge of everything that's not bits &amp; bytes.  I love to travel and am looking forward to working with people who care about people.  On that note, please get in touch with me!
        </p>
      </div>

      <div>
        <h3 class="category__title">
          <img class="category__photo" src="profile-taylor.jpg" alt="A photo of Taylor." />
          Taylor Fairbank
        </h3>
        <p>
          I'm a huge computer nerd with a penchant for ethical technology.  I've previously founded a company in Silicon Valley and now I want to use my powers for good.  I don't look forward to hearing from you, because it probably means somethings gone terribly wrong with the website.
        </p>
      </div>
    </div>
  </div>
</section>
