/* Landing: The welcome site for the Distribute Aid software service.
 * Copyright (C) 2018 - J. Taylor Fairbank (taylor@distributeaid.org)
 *
 * Licensed under the AGPLv3. See `/LICENSE.md` and `/LICENSES-3RD-PARTy.md`.
 */

/* File Structure
 * ------------------------------------------------------
 * The site styles use ITCSS standards as a guideline. See these blog posts for
 * more on ITCSS:
 *
 *   - https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
 *   - https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528
 *
 * Since we're writing straight CSS here, and use the Kube CSS framework as a
 * baseline, the first three parts of ITCSS are covered (Settings, Tools, and
 * Generic).
 *
 * The next four parts (Elements, Objects, Components, and Trumps) can be found
 * under their related headings below.  Kube also takes care of a lot of the
 * styles that'd normally go in the Elements and Objects section so they may
 * be a bit sparse.
 *
 * We use BEM naming conventions.  See <http://getbem.com/introduction/>.
 *
 *
 * Base Unit / Vertical Rhythm
 * ------------------------------------------------------
 * The site uses 16px as a base unit, and tries for the most part to adjust it
 * in increments of 4px (1.25rem, etc).  Occasionally it will be adjusted by
 * increments of 2px (1.125rem), or 2px will be used for border widths and such.
 *
 * Kube has a 4px vertical rhythm.
 */

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400|Quicksand:400,700');


/* Elements
 * ========================================================================== */

/* Typography
 * ------------------------------------------------------ */
body {
  font-family: Quicksand, sans-serif;
}

h1.title, h1, h2, h3, h4, h5, h6 {
  color: inherit; /* Kube override */

  font-family: Comfortaa, monospace;
  font-weight: normal;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}


/* Objects
 * ========================================================================== */

/* Navbar
 * ------------------------------------------------------ */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0.75rem 1rem;
  border-bottom: 0.125rem solid white;

  z-index: 1000;
}

/* Brand
 * ------------------------------------------------------ */
.brand {
  color: inherit;

  font-family: Comfortaa, monospace;
}

.brand:hover {
  text-decoration: none;
}

/* Section
 * ------------------------------------------------------ */
.section {
  padding: 3rem;
}

.section--image-bg {
  padding: 6rem;

  background: no-repeat top center fixed;
  background-size: cover;
}

.section--full-screen {
  height: 100vh;
  padding: 0;
}

.section__header {
  margin-bottom: 1.5rem;

  text-align: center;
}

.section__title {
  margin-bottom: 0;
}

.setion__subtitle {
  margin-top: 0.5rem;
}

.section__content {}

.section__content--small {
  width: 50%;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
}

.section__content--medium {
  width: 80%;
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto;
}

.section__content--left {
  margin-left: 0;
}

.section__content--right {
  margin-right: 0;
}

.section__content--middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section--image-bg .section__content {
  border: 0.125rem solid white;
  padding: 1.5rem;

  background-color: rgba(255, 255, 255, 0.8);
}

/* Category
 * ------------------------------------------------------ */
.category {
  display: flex;
}

.category > * {
  flex: 1;
  margin-right: 2rem;
}

.category > :last-child {
  margin-right: 0;
}

.category__title {
  text-align: center;
}

.category__title--only {
  margin-bottom: 0;
}

.category__icon {
  display: block;
  margin: 1rem auto;
}

.category__photo {
  display: block;
  width: 12rem;
  height: 12rem;
  margin: 1rem auto;
  border: 0.25rem solid #C8C8C8;
  border-radius: 100%;
}


/* Components
 * ========================================================================== */

/* Site Header
 * ------------------------------------------------------
 */
.site-header {
  color: rgba(255, 255, 255, 0.8);
  background-color: #C8C8C8;
}

/* Site Nav
 * ------------------------------------------------------ */
.site-nav {
  display: flex;
}

.site-nav__link {
  margin-right: 1.5rem;

  color: inherit;

  text-transform: uppercase;
}

.site-nav > :last-child .site-nav__link {
  margin-right: 0;
}

.site-nav__link:hover {
  color: white;

  text-decoration: none;
  text-shadow: white 0px 0px 1rem;
}

.site-nav__link--active {
  color: white;

  font-weight: bold;
}

/* Site Content
 * ------------------------------------------------------ */
.site-content {}

/* Site Footer
 * ------------------------------------------------------
 * TODO: Make the footer menu a .site-nav as well since the styles overlap?
 *       Or pull the overlapping parts out into an Object class?
 */
.site-footer {
  padding: 3rem;

  color: rgba(255, 255, 255, 0.8);
  background-color: #C8C8C8;

  font-size: 1.125rem;
  text-align: center;
}

.site-footer__link {
  margin-right: 2rem;

  color: inherit;

  text-transform: uppercase;
}

.site-footer__link:last-child {
  margin-right: 0;
}

.site-footer__link:hover {
  color: white;

  text-decoration: none;
  text-shadow: white 0px 0px 1.5rem;
}

.site-footer__link--lowercase {
  text-transform: lowercase;
}

/* Intro
 * ------------------------------------------------------
 */
.intro {
  background-image: url('/img/intro-bg.jpg');

  font-size: 1.125rem;
  text-align: justify;
}

.intro__prompt {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);

  color: rgba(255, 255, 255, 0.8);

  font-size: 4rem;
}

.intro__prompt:hover {
  color: white;
}

/* Who We Help
 * ------------------------------------------------------ */
.who-we-help {}

/* How It Works
 * ------------------------------------------------------
 */
.how-it-works {
  background-image: url('/img/how-it-works-bg.jpg');
}

.how-it-works__steps {
  list-style: none;
}

.how-it-works__step {
  margin-bottom: 1.5rem;
}

.how-it-works__title {
  margin-bottom: 0.5rem;
}

/* Benefit
 * ------------------------------------------------------ */
.benefit {
  border-top: 0.5rem solid white;
}

.benefit--discover {
  background-image: url('/img/benefit-discover-bg.jpg');
  background-position: center center;
}

.benefit--knowledge {
  background-image: url('/img/benefit-knowledge-bg.jpg');
  background-position: bottom center;
}

.benefit--streamline {
  background-image: url('/img/benefit-streamline-bg.jpg');
  position: bottom center;
}

.benefit--transparency {
  background-image: url('/img/benefit-transparency-bg.jpg');
}

.benefit--trust {
  background-image: url('/img/benefit-trust-bg.jpg');
  background-position: bottom center;
}

/* About Us
 * ------------------------------------------------------ */
.about-us {}


/* Trumps
 * ========================================================================== */

/* Site Header // Brand
 * ------------------------------------------------------ */
.site-header .brand {
  flex: 1;
  margin-bottom: 0;

  color: white;

  font-size: 1.5rem;
  line-height: 1;
}

/* Intro // Section
 * ------------------------------------------------------ */
.intro .section__header {
  margin-bottom: 1rem;
}

.intro .section__content {
  top: 40%;

  background-color: rgba(255, 255, 255, 0.9);
}
