{{/*
  Landing: The welcome site for the Distribute Aid software service.
  Copyright (C) 2018 - J. Taylor Fairbank (taylor@distributeaid.org)

  Licensed under the AGPLv3. See `/LICENSE.md` and `/LICENSES-3RD-PARTy.md`.
*/}}

<!DOCTYPE html>

<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>

    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/kube-6.5.2.min.css" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/main.css" />

    <script defer src="{{ $.Site.BaseURL }}js/fontawesome-all-free-5.0.12.min.js"></script>
    <script defer src="{{ $.Site.BaseURL }}js/jquery-3.3.1.min.js"></script>
    <script defer src="{{ $.Site.BaseURL }}js/kube.min.js"></script>
    <script defer src="{{ $.Site.BaseURL }}js/main.js"></script>
  </head>

  <body class="site">
    {{ block "header" . }}{{ partial "header.html" .}}{{ end }}

    <main class="site-content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
  </body>
</html>
