{{/*
  Landing: The welcome site for the Distribute Aid software service.
  Copyright (C) 2018 - J. Taylor Fairbank (taylor@distributeaid.org)

  Licensed under the AGPLv3. See `/LICENSE.md` and `/LICENSES-3RD-PARTy.md`.
*/}}

<footer class="site-footer">
  <a class="site-footer__link" href="https://gitlab.com/distribute-aid/landing/blob/master/LICENSE.md" target="blank">
    <i class="fas fa-copyright fa-lg"></i>
    Copyright
  </a>

  <a class="site-footer__link" href="https://gitlab.com/distribute-aid/landing" target="blank">
    <i class="fas fa-code fa-lg"></i>
    Code
  </a>

  <a class="site-footer__link site-footer__link--lowercase" href="mailto:hello@distributeaid.org">
    <i class="fas fa-paper-plane fa-lg"></i>
    hello@distributeaid.org
  </a>
</footer>