{{/*
  Landing: The welcome site for the Distribute Aid software service.
  Copyright (C) 2018 - J. Taylor Fairbank (taylor@distributeaid.org)

  Licensed under the AGPLv3. See `/LICENSE.md` and `/LICENSES-3RD-PARTy.md`.
*/}}

<header class="navbar site-header">
  <a class="brand" href="{{ $.Site.BaseURL }}">
    {{ .Site.Params.brand }}
  </a>

  <nav>
    <ul class="site-nav">
      <li>
        <a href="#intro" class="site-nav__link">Intro</a>
      </li>
      <li>
        <a href="#who-we-help" class="site-nav__link">Who We Help</a>
      </li>
      <li>
        <a href="#how-it-works" class="site-nav__link">How It Works</a>
      </li>
      <li>
        <a href="#benefits" class="site-nav__link">Benefits</a>
      </li>
      <li>
        <a href="#about-us" class="site-nav__link">About Us</a>
      </li>
    </ul>
  </nav>
</header>
