{{/*
  Landing: The welcome site for the Distribute Aid software service.
  Copyright (C) 2018 - J. Taylor Fairbank (taylor@distributeaid.org)

  Licensed under the AGPLv3. See `/LICENSE.md` and `/LICENSES-3RD-PARTy.md`.
*/}}

{{ define "header" }}{{ partial "header.html" . }}{{ end }}

{{ define "main" }}
    <article>
      <h1>
        404 Page Not Found :(
      </h1>
    </article>
{{ end }}